body{
    background: url(newbg.png) no-repeat center center fixed;
    background-size: cover;
}
.panel1{
    margin-top: 30%;
}
.form-gap {
    padding-top: 70px;
}
.fgp{
    color: rgb(99, 56, 199);
}
i{
    color: rgb(99, 56, 199);
}
.btn{
    cursor: pointer;
    width: 100%;
    padding: 1%;
    margin: 8px 0px;
    font-size: 17px;
    background-color: rgb(99, 56, 199);
    color: white;
}
.btn:hover{
    color: white;
    background-color: rgb(99, 56, 199);
    opacity: 0.8;
}
.lgp{
    margin-right: 13px;
    color: rgb(63, 10, 187);
}
.sgp{
    color: rgb(63, 10, 187);
}